  header{

      text-align: center;
      background:url('festiv.jpg');
      background-size:cover;
      color: white;
      border-top: solid;
     }  
   /*  body{
      background: Aqua;
     } */
       
       a{
      color: white;
      text-decoration: none;
    }
    h1{
      font-size: 70px;
      color: black;
      text-shadow: 2px 2px 5px #C63D0F,0 0 5px #0000FF;
    }
    h2{
      text-shadow: 2px 2px 5px #C63D0F,0 0 5px #0000FF;
    }

   
    .navg{
      overflow: auto;
    }
 
  .navg ul{
      
      background: rgba(1,1,1,0.5);
      float: left;
       margin: 0;
      padding: 0px;
      list-style: none;
      line-height: 55px;
      width: 100%;
    }
  .navg li{
      float: left;
      display: inline-block;
     
      padding: 0px 10px 0px 10px;
    }
  .navg li a{
        text-decoration: none;
        font-family: sans-serif;
        text-align: center;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
   .navg li:hover
   {
    background-color: rgba(10,20,29,.5);
    color: white;
    font-size: 30px;

   }
   .navg li a:hover
   {
     
    text-decoration: none;
    color: white;
  
   }
.search
{
  padding-left: 
}
.tip .Submit-tooltip
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tip:hover .Submit-tooltip {
    visibility: visible;

}
input[type=text]
{

  background:url(Search.svg);
  background-repeat: no-repeat;
  background-position: 12px 12px;
  padding: 12px 20px 14px 42px;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  position: absolute;
  right: 50px;
  top: 160px;
  color: white;
  -webkit-transiton:width 0.7s ease-in-out;
}
input[type="text"]:focus
{
  width: 400px;
}
input[type="text"]:hover
{
  color: white;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-weight: bold;
  font-size: 17px;
}

   /* #myInput{
       width: 5cm;
      /*float: right; /*To move the search bar to the right end 
      text-align: right;   
    } */
.s{
  background: blue;
}
   .subdiv{
   float: left;
   text-align: center;
   background-color: #102029;
 font-family: 'Covered By Your Grace', sans-serif;
   color: white;
   margin:20px;
    width: 200px;
   height: 250px;
   border:3px solid yellow;
   line-height: 230px;
    transition: 0.3s;
    position: relative;
    left: 5%;
    overflow: hidden;

}
 .subdiv a
{
  text-decoration: none;
  color: white;
  text-align: center;


}
.subdiv:hover{
            background-color: #030B14;
             color:white;
             border: 3px solid red;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
               width: 200px;
          height: 250px;

}
  
    hr{
    color:#CCC;
    background-color:#CCC;

   }
     footer{
     text-align: center;
     border-top: solid;
     padding: 20px;
     clear: both;
     background: yellow;
   }
   table{
    width: 50%;

   }
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    background: #330000;
    color: white;

}
.cal{

  padding-left: 400px;
  background: white;
  
}
.Cmonth {
   text-shadow: 2px 2px 5px #C63D0F,0 0 5px #0000FF;
   position: relative;
  bottom: 20%;
  background: white;
  padding: 30px;

}
.Social
{
  background-color: DeepSkyBlue;
  position: relative;
  left: 500px;
  bottom: 10px;
  float: left;
  padding: 20px;
  border-radius: 5%;
  text-decoration: none;
}
.div a{
  padding: 50px;
  text-decoration: none;
  text-align: center;
}
.fa {
  padding: 30px;
  font-size: 20px;
  width: 110px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25%;
}

.fa:hover {
    opacity: 0.9;
    text-decoration: none;
    text-align: center;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  text-align: center;
}
.fa-whatsapp{
  background: #25d366;
  color:white;
}
.details{
  visibility: hidden;
}
.subdiv:hover .details{
  visibility: visible;
  height: 30%;
  width: 100%;
  background: rgba(9,53,73, .7);
    transition: 1s;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;
  box-sizing:border-radius;

}
h5{
  color: white;
}
.details .button{


 
  height: 20px;

  padding: 8px;
  color: white;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 10%;
font-size: 5px;

}
